{% extends 'flatpages/base.html' %}
{% load static %}

{% block title %}
  Login
{% endblock %}
{% block content %}
  <h1 class="text-center fw-bolder">Autorisation</h1>
  <br />
  <br />
  <form action="#" method="post" class="d-grid gap-2">
    {% csrf_token %}
    <label for="username" class="text-center fw-bold">Login:</label>
    <div class="text-center">{{ form.username }}</div>
    <label for="password" class="text-center fw-bold">Password:</label>
    <div class="text-center">{{ form.password }}</div>
    <input type="submit" value="Войти" class="mx-auto bg-success text-white fw-bold rounded-2" />
    <a href="http://127.0.0.1:8000/users/signup/" class="mx-auto bg-success text-white p-1 h-300 text-center fw-bold rounded-2">Присоединяйся</a>
  </form>
{% endblock %}
